.about__wrapper {
    padding-top: $header-height;
    background-color: var(--secondary-bg);
}

.about {
    display: grid;
    grid-template-columns: 1fr;
    @include for-tablet-landscape-up {
        grid-template-columns: 1fr 2fr;
    }
}

.about__portrait {
    background-color: #000;
    display: flex;
    align-items: center;
    img {
        image-rendering: pixelated;
        aspect-ratio: 1/1;
        width: 100%;
    }
    @include for-desktop-up {
        align-items: flex-end;
    }
}

.about__copy {
    padding: 4.8rem;
    margin-bottom: $l-size;
    color: var(--text-color);
    h1 {
        font-family: $display-font;
    }
    p {
        opacity: 0.9;
        line-height: $leading-normal;
        font-size: 1.8rem;
        font-weight: 300;
        max-width: 90%;
        a {
            color: var(--text-color);
            font-weight: 500;
            text-decoration: underline;
        }
    }
}
