html {
  // Set 0.1rem equal to 1px
  font-size: 62.5%;

  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  min-width: 100vw;
  font-size: $m-size;
  font-family: $body-font, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
  min-height: calc(100vh - (#{$header-height} + #{$footer-height}));
}

button,
textarea,
input {
  font-family: $body-font, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: $m-size;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
