// COLOR VALUES
$dark-black: #16161a;
$black: #242629;
$white: #fff;
$red: #f4b2a8;
$blue: #94fefb;
$yellow: #fcfe75;

//COLOR ROLES

// COLOR APPLICATION
$primary-bg: $dark-black;
$secondary-bg: $black;
$secondary-bg--o12: #2426291f;
$text-color: $white;
// CSS Variables
:root {
    --text-color: #{$white};
    --primary-bg: #{$dark-black};
    --secondary-bg: #{black};
}

// SIZES
$xs-size: 1rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// FONTS
$display-font: "Cartridge", sans-serif;
$body-font: "Roboto", sans-serif;
$mono-font: "Share Tech Mono", monospace;

// COMPONENT HEIGHT
$header-height: 7.2rem;
$footer-height: 7.2rem;
